body
{
	/* Background pattern from Toptal Subtle Patterns */
	background-image: url("img/hexellence.png");
	font-size:20px;
}
#container
{
	background-color:lightgrey;
	width:300px;
	padding:50px;
	margin-left:auto;
	margin-right:auto;
	margin-top:100px;
	box-shadow: 3px 3px 5px 0px rgba(170,170,170,0.9);
}

input[type=text],
input[type=password]
{
	width:300px;
	background-color:#efefef;
	color:#666;
	border: 2px solid #bbb;
	border-radius:5px;
	font-size:20px;	
	padding:10px;
	box-sizing: border-box;
	outline:none;
	margin-top:10px;
}
input[type=text]:focus,
input[type=password]:focus
{
	box-shadow: 1px 1px 5px 0px rgba(50,50,50,0.9);
	border:2px solid #a5cda5;
	background-color:#e9f3e9;
	color:#428c42;
}

input[type=submit]
{
	width:300px;
	background-color:#36b03c;
	font-size:20px;
	color:white;
	padding:15px 10px;
	margin-top:30px;
	border:none;
	border-radius:2px;
	cursor:pointer;
	letter-spacing:3px;
}

input[type=submit]:hover
{
	background-color:darkgreen;
}

input[type=submit]:focus
{
	box-shadow: 1px 1px 5px 0px rgba(50,50,50,0.9);
}